RewriteEngine On

# Ensure Authorization headers are passed to PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# Route /login to index.php (Login Page)
RewriteRule ^login/?$ index.php [L,QSA]

# Remove .php extension for all other files
# If the request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
# And if the request with .php appended is a valid file
RewriteCond %{REQUEST_FILENAME}.php -f
# Rewrite the request to .php
RewriteRule ^([^\.]+)$ $1.php [NC,L]
